<h2>Thanks!</h2>
<p>Thanks for placing your order.</p>
<p>We'll ship your tickets as soon as possible.</p>
<p>If you opted for Visa, we will contact you for documents</p>
<br />
<h3>Basic Requirement</h3>
<p>Must have valid travelling documents</p>